@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 600;
}

a {
  color: inherit;
}

.loading {
  text-align: center;
  padding-top: 30vh;
  font-size: 10vw;
  color: rgb(232, 232, 232);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #272c34;
}

::-webkit-scrollbar-thumb {
  background-color: #171717;
  border-radius: 10px;
}