*{
  color: rgb(240, 240, 240);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.navbar {
  background-color: #171a1f;
  display: flex;
  align-items: center;
  justify-content:space-between;
}

.navbar__logo {
  display: flex;
  align-items: center;
 justify-content:center;
 font-size: 1.5rem;
 margin-left: 1.5rem;
}

.navbar__leaf {
  margin-right: 0.6rem;
}

.navbar__ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 10rem;
}

.navbar__ul li {
  margin-right: 1rem;
  font-weight: 600;
  transition:all 0.5s;
}

.navbar__ul li:hover {
  font-size: 1.1rem;
  text-shadow: 0px 0px 10px whitesmoke;
}

.NavbarW__div {
  display: flex;
  margin-right: 3rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
}

.navbarW__cart {
  padding-right: 0.5rem;
}

.Huh {
  display: flex;
  align-items: center;
  justify-content:center;
}